.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 20px; 
  margin-right: 5px; 
}

.user-info span {
  font-size: 14px; 
  margin-right: 10px;
}

.header button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.header button:hover {
  background-color: #d32f2f;
}
